[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "uring-bench"]
	path = uring-bench
	url = https://github.com/wyjw/uring-bench.git
[submodule "uring-experiments/uring-bench"]
	path = uring-experiments/uring-bench
	url = https://github.com/wyjw/uring-bench.git
